body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;

}
.card {
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}
.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
nav {
    margin-bottom: 20px;
    background-color: #ffffff;
}