body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;

}
.card {
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}
.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
nav {
    margin-bottom: 20px;
    background-color: #ffffff;
}
/* Estilo base do menu */
    .navbar {
      background-color: #00BFFF !important;
      transition: all 0.4s ease;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
      z-index: 9999;
      /* Sempre acima de tudo */
    }

    .navbar-brand {
      font-weight: bold;
    }

    .navbar-nav .nav-link {
      color: white !important;
      transition: 0.3s;
    }

    .navbar-nav .nav-link:hover {
      background-color: rgba(255, 255, 255, 0.2);
      border-radius: 10px;
      padding: 6px 12px;
    }

    /* Animações de scroll */
    .navbar.hidden {
      transform: translateY(-100%);
      opacity: 0;
    }

    .navbar.visible {
      transform: translateY(0);
      opacity: 1;
    }
